# Ignore Python cache and IDE files
__pycache__/
.idea/
.venv/

# Ignore downloaded datasets (large, not for repo)
Data/VisDrone/
Data/hit-uav/

# Ignore model weights and training runs
models/
runs/
*.pt
*.onnx

# Ignore other common training artifacts
*.log
